@model IEnumerable<ObjetoTransferencia.ExerciciosTreinamento>
@{
    ViewBag.Title = "Exercicios";
}


<h2>@ViewBag.Treino</h2>

<script>
    function voltar()
    {
        window.location.href = "@Url.Action("Index", "Treinamento", new { @IDAluno = ViewBag.IDAluno }, null)";
    }
</script>


        @foreach (var exercicios in Model)
        {
           <ul data-role="listview" data-inset="true" data-theme="c">
    <li data-role="list-divider" data-theme="a"><b>@Html.ActionLink(exercicios.Exercicio.Nome, "MostrarExercicio", "Exercicio", new { @codigo = exercicios.Exercicio.IDExercicio, @treino = ViewBag.Treino }, null) Tipo: @exercicios.Exercicio.TipoExercicio.Descricao</b></li>
    <li> Series: @exercicios.Series</li>
    <li> Repetições: @exercicios.Repeticoes </li>
    <li> Intervalo: @exercicios.Intervalo </li>
     </ul>

        }

<div data-role="main" class="ui-content">
<button data-theme="a" data-icon="back" onclick="voltar()">Voltar</button>
</div>




